.success {
    background-color: #64DD17;
}

.error {
    background-color: #D50000;
}

.msg {
    color: white;
    text-align: center;

}

.mat-chip-list-stacked {
    display: block;
    width: 40%;
    margin: 0.5em auto;
}