mat-card {
    margin: 1em;
}

// .projects-box {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;

//     .project-card {
//         width: 41.5%;

        .action-btn {
            float: right;
            margin: 0 0.2em;
        }
//     }
// }
